.typing-animation {
    animation: typing 3s steps(40, end), blink 500ms infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.songsText {
    font-size: clamp(0.36rem, calc(0.20rem + 0.54vw), 0.94rem);
}
