.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 3s steps(30, end);
    animation-delay: 0s;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.songsText {
    font-size: clamp(0.36rem, calc(0.20rem + 0.54vw), 0.94rem);
}