@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #575252;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;

	text-shadow: 1px 1px 2px rgba(88, 27, 87, 0.8);

	background: rgb(50, 34, 46);
	background: linear-gradient(
		90deg,
		rgb(51, 8, 41) 0%,
		rgb(70, 33, 83) 63%,
		rgb(44, 7, 48) 100%
	);
}

.animation {
	animation: typing 3s steps(7), cursor 0.5s step-end infinite alternate;
}

@keyframes cursor {
	50% {
		border-color: transparent;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
}

.fade-from-right {
	animation: fadeFromRight 1s;
}

@keyframes fadeFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.switch-dir-animation {
	transform: rotateX(180deg);
	transition: all 1s linear;
}

.reversed-switch-dir-animation{
	transform: rotateX(-180deg);
	transition: all 1s linear;
}

.reverse-fade-from-right{
	animation: fadeToRight 1s;
}

@keyframes fadeToRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(200%);
	}
}